html, body{
  width: 100%;
  height: 100%;
}

body{
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-weight:400;
  color: #5d5d7e;
}



.wrapper{
  min-height: 100vh;
  width: 100%;
}

.container-left{
  margin-top: 20%;
  margin-left: 136px;
  display: inline-block;
  width: 55%;
  
}

h1{
  width: 368px;
  height: 160px;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: 0px;
}

p{
  margin: 18px 0px;
  width: 540px;
  height: 144px;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0px;
  opacity: 0.6;
}

button{
  width: 269px;
  height: 62px;
  background-color: #9499EA;
  box-shadow: 0px 10px 24px rgba(148, 153,234, 0.0979959);
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  border: none;
  border-radius: 30px;
  color:#ffff;
  cursor: pointer;
}

button:hover{
  opacity: 0.8;
}

button:active{
  opacity: 0.5;
}

.container-right{
  display: inline-block;
  height: 100%;
  width: 45%;
  background-color: rgba(93, 93, 125, 0.16);
  position: absolute;
}

header{
  margin: 24px 0 0 57px;
}

.menu-de-navegação ul{
  list-style-type: none;
  display: flex;
  gap: 41px
}

.menu-de-navegação a{
  text-decoration: none;
  font-size: 28px;
  line-height: 41px;
  cursor: pointer;
}

li:nth-child(2){
  opacity: 0.4;
}

a:hover{
  opacity: 0.4;
}

a:active{
  opacity: 0.8;
}

img {
  position: relative;
  top: 23%;
  right: 130px;
}

@media screen and (max-width: 900px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container-left{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .container-right{
    display: block;
    height: auto;
    width: 100%;
    padding: 40px;
    position: static;
  }
  
  img{
    max-width: 90%;
    position: static;
  }

  header{
    display: none;
  }

  h1{
    display: flex;
    font-size: 36px;
    line-height: 52px;
    width: 60%;
    height: auto;
    margin: 50px auto 15px;
    text-align: center; 
  }

  p{
    display: flex;
    width: auto;
    height: auto;
    margin: 15px 40px;
    padding: 0px 14px 0px 14px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }

  button{
    margin: 0 auto;
    display: block;
    width: 69%;
    height: 16%;
  }


}
